main {
    width: 100%;
}


form {
    margin: 0 auto 6.25rem auto;
    border-radius: 0.313rem;
    background: var(--bg3);
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--font-size-p);
    width: 50rem;
    padding: 1.875rem;
}

label {
    text-transform: capitalize;
    padding: 0.625rem 0.625rem 0.625rem 0px;
    color: var(--color-subtitle);
    display: block;
    margin-top: 0.625rem;
}

.nome label {
    width: fit-content;
}
input {
    border-radius: 0.25rem;
    font-size: var(--font-size-p);
    padding: 0.5rem;
}

div span {
    display: block;
    color: white;
}

.contato-title {
    padding: 5rem;
}

.contato-title::before {
    top: 10rem;
}


#mensagem {
    padding: 0.625rem;
    font-size: var(--font-size-p);
    width: 100%;
    border-radius: 0.313rem;
}

.fone{
    display: flex;
    gap: 0.938rem;
    align-items: center;
}


.fone-form {
    width: 100%;
}

.whatsapp {
    display: flex;
    align-items: baseline;
    gap: 1.875rem;
    margin-top: 0.625rem;
    grid-column: 2;
}
.whatsapp > span {
    margin-top: 0.313rem;
}

.radio {
    margin: 0px;
    display: flex;
    padding: 0px;
    gap: 1.563rem;
}

.radio div {
    gap: 0.313rem;
    display: flex;
    align-items: baseline;
}

div label {
    width: 2.188rem;
}

.grid-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 3.125rem;
}

.grid-form input {
    width: 100%;
}

.email {
    grid-column: 1;
}


#nome {
    width: 100%;
}
.forma-contato label {
    margin: 0px;
    padding: 0px 0px 1.25rem;
    width: fit-content;
}

.forma-contato > #contato {
    font-size: var(--font-size-p);
    padding: 0.313rem 0.625rem;
    border-radius: 0.313rem;
    text-transform: capitalize;
}

 form button {
    margin: 3.125rem auto 0 auto;
    display: block;
    color: rgb(202, 202, 202);
    background: red;
    text-transform: uppercase;
    padding: 1.25rem 1.875rem;
    border: none;
    border-radius: 0.313rem;
}

button:hover {
    transform: scale(1.05);
    transition: 0.2s;
    cursor: pointer;
}

.campo {
    margin-bottom: 1.875rem;
}
