main {
    width: 100%;
    background: rgb(22, 22, 22);
}

form {
    margin: 0 auto;
    border-radius: 5px;
    background: #282a2d;;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    width: fit-content;
    padding: 30px;
}

label {
    padding: 10px;
    color: white;
    display: block;
    margin-top: 10px;
}

input {
    font-size: 1.2rem;
    padding: 8px;
}

div spam {
    display: block;
    color: white;
}

.contato-titulo {
    text-align: center;
    font-family: 'segoe UI';
    text-transform: uppercase;
    color: rgb(190, 190, 190);
    font-weight: 400;
}

.horario-ligar {
    display: none;
}

.flex-form {
    display: flex;
    align-items: center;
    gap: 30px;
}

.fone{
    display: flex;
    gap: 15px;
    align-items: center;
}

.fone > spam {
    background-color: #3f4347;
    width: 20ch;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    display: none;
}

.whatsapp {
    grid-column: 2;
}

.radio {
    display: inline-block;
   
}

.grid-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 50px;
}

.email {
    grid-column: 1;
}

.fone-form {
    display: relative;
}
