main {
    width: 100vw;
    padding: 1.25rem;
}
.titulo-conteudo.contato-title::before {
    left: 18%;
    width: 15%;
    height: .28rem;
    top: 1.2rem;
    transform: rotate(-40deg);
    background-image: linear-gradient(to left, rgb(245, 39, 39), rgb(83, 15, 15));
}

label,
.span-wpp {
    color: var(--color-p);
    font-size: var(--font-size-p3);
}

.campo {
    align-items: center;
    margin-bottom: 1.563rem;
    display: flex;
    justify-content: space-between;
}

.fone .campo{
    margin-bottom: 5rem;
}

input {
    height: 1.563rem;
    padding: 0.313rem;
    font-size: var(--font-size-p3);
    border-radius: 0.313rem;
}

.whatsapp {
    justify-content: center;
    align-items: center;
    gap: 0.938rem;
    margin-left: 5rem;
}

.radio div {
    display: flex;
    align-items: center;
    gap: 0.313rem;
}

.mensagem-container {
    gap: 0.313rem;
    flex-direction: column;
    align-items: start;
}

textarea {
    width: 90%;
}

button {
    display: block;
    margin: 0 auto;
    padding: 0.75rem 1.125rem;
    border-radius: 0.313rem;
    border: none;
    font-weight: bold;
    font-size: var(--font-size-p3);
    text-transform: uppercase;
    background-color: red;
    color: var(--color-p)

}

form {
    max-width: 26.25rem;
    margin: 0 auto
}

.grid-form {
    position: relative;
}

.whatsapp {
    position: absolute;
    right: 50px;
    top: 85px;
}
@media (min-width: 500px) {
    html {
        font-size: 110%;
    }
}


@media (min-width: 600px) {
main {
    width: 100%;
}


form {
    margin: 0 auto 6.25rem auto;
    border-radius: 0.313rem;
    background: var(--bg3);
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--font-size-p);
    width: 50rem;
    padding: 1.875rem;
}

label {
    text-transform: capitalize;
    padding: 0.625rem 0.625rem 0.625rem 0px;
    color: var(--color-subtitle);
    display: block;
    margin-top: 0.625rem;
}

.nome label {
    width: fit-content;
}
input {
    border-radius: 0.25rem;
    font-size: var(--font-size-p);
    padding: 0.5rem;
}

div span {
    display: block;
    color: white;
}

.contato-title {
    padding: 5rem;
}

.contato-title::before {
    top: 10rem;
}


#mensagem {
    padding: 0.625rem;
    font-size: var(--font-size-p);
    width: 100%;
    border-radius: 0.313rem;
}

.fone{
    display: flex;
    gap: 0.938rem;
    align-items: center;
}


.fone-form {
    width: 100%;
}

.whatsapp {
    display: flex;
    align-items: baseline;
    gap: 1.875rem;
    margin-top: 0.625rem;
    grid-column: 2;
}
.whatsapp > span {
    margin-top: 0.313rem;
}

.radio {
    margin: 0px;
    display: flex;
    padding: 0px;
    gap: 1.563rem;
}

.radio div {
    gap: 0.313rem;
    display: flex;
    align-items: baseline;
}

div label {
    width: 2.188rem;
}

.grid-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 3.125rem;
}

.grid-form input {
    width: 100%;
}

.email {
    grid-column: 1;
}


#nome {
    width: 100%;
}
.forma-contato label {
    margin: 0px;
    padding: 0px 0px 1.25rem;
    width: fit-content;
}

.forma-contato > #contato {
    font-size: var(--font-size-p);
    padding: 0.313rem 0.625rem;
    border-radius: 0.313rem;
    text-transform: capitalize;
}

 form button {
    margin: 3.125rem auto 0 auto;
    display: block;
    color: rgb(202, 202, 202);
    background: red;
    text-transform: uppercase;
    padding: 1.25rem 1.875rem;
    border: none;
    border-radius: 0.313rem;
}

button:hover {
    transform: scale(1.05);
    transition: 0.2s;
    cursor: pointer;
}

.campo {
    margin-bottom: 1.875rem;
}

}
