.botao-header {
    text-decoration: none;
    color: inherit;
}
.header {
    background-color: var(--bg1);
    display: flex;
    align-items: center;
    padding: 1.5rem;
    width: 100%;
    justify-content: center;
    gap: 20%;
}
header{
    width: 100%;
}


.lista-header{
    list-style: none;
    font-family: var(--p-font);
    color: var(--color-p);
    display: flex;
    flex-wrap: wrap;
    gap: 5em;
    font-size: var(--font-size-p);
}

.lista-header li:hover {
    cursor: pointer;
    color: rgb(233, 71, 71);
    transition: color 0.3s;
}

.home {
    padding: 8em;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-image: url(/fotos/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    gap: 5em;
}