#planos {
    background: linear-gradient(rgba(12, 12, 12, 0.8), rgba(12, 12, 12, 0.8)), url(/fotos/bf-foto.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    padding-bottom: 3.125rem;
}
.plano-header .preco {
    position: absolute;
    top: -1.25rem;
    right: -1.25rem;
    background: black;
    padding: 1.25rem;
    border-radius: 0.313rem;
    z-index: 1;
    font-size: var(--font-size-subtitle);
}

.plano-header {
    position: relative;
    margin-bottom: 3.125rem;
    z-index: 0;
}

.plano h3 {
    font-size: var(--font-size-subtitle);
    color: var(--color-subtitle);
}
.plano {
    width: 37.5rem;
    background: #080808;
    font-size: var(--font-size-p);
    color: var(--color-p);
    padding: 2rem;
    border-radius: 0.313rem;
    box-shadow: 4px 4px 5px rgb(22, 22, 22), -4px -4px 5px rgb(22, 22, 22);

}

.plano ul {
    list-style: none;
}

.plano ul li {

    border-radius: 0.313rem;
    padding: 0.625rem;
}

.plano ul li::before {
    content:"»";
    font-size: var(--font-size-p);
    padding-right: 0.313rem;
    color: red;
}

.plano li:nth-child(odd) {
    background: black;
}

.plano-body {
    display:flex;
    flex-direction: column;
}

.glider-contain {
    position: relative;
    margin-top: 3.125rem;
    max-width: 87.5rem;
    padding-left: 1.875rem;
}
.container-glider {
    margin: 0 auto;
    width: 93.75rem;

}
.conteiner {
    border-radius: 0.313rem;
    margin-bottom: 1.875rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.125rem;
    position: relative;
    padding: 3.125rem;
    margin-top: 3.125rem;
}

.titulo {
    z-index: 3;
    font-size: var(--font-size-subtitle);
    padding: 0.625rem 6.25rem 0px 6.25rem;
    top: -1.875rem;
    left: 35%;
    color: var(--color-title);
    position: absolute;
    border: none;
    cursor: pointer;

}

.conteiner:last-child .titulo {
    left: 30%;
}


.container-glider h1::before {
    top: 140.313rem;
}