#profissionais {
    padding-bottom: 80px;
    width: 100%;
    background: black;
}

.profissionais-titulo{
    color: rgb(190, 190, 190);
    text-align: center;
    font-size: 3rem;
    padding: 100px;
    font-family: 'segoe UI';
    font-weight: 400;
}

.profi-grid{
    max-width:99vw;
    gap: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.profi-img img{
    border-radius: 60%;
    max-width: 200px;
    padding: 0px;
}

.profissional h2, p {
    padding: 20px;
    font-size: 1rem;
    color: rgb(190, 190, 190);
}
.profissional h2 {
    text-align: center;
}

.profissional p {
    position: relative;
    z-index: 2;
    max-width: 60ch;
}
.profissional {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 20px;
    align-items: center;
    padding: 20px;
    max-width: max-content;
    position: relative;



}

.profi-bg {
    position: relative;
}

.direita .profissional {
    grid-template-columns: 1fr max-content;
    padding-right: 50px;
}

.direita {
    justify-self: end;
}

.direita .desc {
    grid-row: 1;
    justify-self: end;
}

.direita .profissional .profi-img{
    grid-column: 2;

}

.esquerda .profissional:nth-child(odd) {
    background: #282a2d;
    z-index: 3;

}

.direita .profissional:nth-child(even) {
    background: #282a2d;
    z-index: 3;
}
.direita,
.esquerda {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.esquerda .profissional:nth-child(odd)::after {
    content: '';
    height: 100%;
    width: 250px;
    right: -115px;
    border-radius: 50%;
    background: #282a2d;
    position: absolute;
    z-index: 1;

}
.direita .profissional:nth-child(even)::before {
    content: '';
    height: 100%;
    width: 250px;
    left: -115px;
    border-radius: 50%;
    background: #282a2d;
    position: absolute;
    z-index: 1;

}