
#sobre {
    padding: 20px;
    min-width: fit-content;
    display: grid;
    justify-items: center;
}

.titulo-conteudo {
    padding: 20px;
    margin-bottom: 40px;
    font-size: calc(var(--font-size-title3) - 5px);
    width: 25ch;
    text-align: center;
}

#sobre .titulo-conteudo::before {
    left: 2%;
    width: 15%;
    height: .28rem;
    top: 1.2rem;
    transform: rotate(-40deg);
    background-image: linear-gradient(to left, rgb(245, 39, 39), rgb(83, 15, 15));
}
#sobre .titulo-conteudo::after {
    content: '';
    width: 15%;
    height: 0.25rem;
    top: 5.8rem;
    left: 19rem;
    background-image: linear-gradient(to right, rgb(245, 39, 39), rgb(83, 15, 15));
    position: absolute;
    transform: rotate(-40deg);
}
#sobre .titulo-conteudo2::before {
    left: 2%;
    width: 15%;
    height: .28rem;
    top: 1.3rem;
    transform: rotate(-40deg);
    background-image: linear-gradient(to left, rgb(245, 39, 39), rgb(83, 15, 15));
}

#sobre .titulo-conteudo2::after {
    display: none;
}

.foto-sobre img {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    height: 100%;
    width: 100%;
}

.flex-sobre {
    width: 100vw;
    gap: 120px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.item p {
    text-align: center;
    line-height: 2rem;
    width: inherit;
    color: var(--color-p);
    font-size: var(--font-size-p);
}

.item {
    width: 90vw;
    margin: 0 auto;
}

.sobre-flex2 {
    display: flex;
    flex-direction: column;
}
.sobre-flex2 .btn-plano {
    font-size: var(--font-size-p2);
    margin-bottom: 20px;
}

.titulo-conteudo2 {
    margin-bottom: 10px;
    margin-top: 50px;
    padding: 20px;
    font-size: calc(var(--font-size-title3) - 5px);
    width: 25ch;
    text-align: center;
}

@media (min-width: 993px) {

.item {
    min-width: 500px;
    margin-bottom: 5rem;
}


.item img {
    border-radius: 0.313rem;
    height: 21.875rem;
    width: 28.125rem;
    object-fit: cover;
}

.item p {
    padding-left: 0px;
    padding-top: 1.875rem;
    font-size: var(--font-size-p);
    line-height: 2rem;
    max-width: 35ch;
    z-index: 1;
    text-align: start;
    color: var(--color-p);
}

.item p > span {
    text-transform: uppercase;
    font-weight: bolder;
    display: inline;
}

.flex-sobre {
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.sobre-flex2{
    gap: 1.25rem;
    display: flex;
    flex-direction: column;
}

.sobre-flex2 h2{
    padding-bottom: 5rem;
}

.sobre-flex2 a{
    color: var(--color-subtitle);
    background: rgb(29, 28, 28);
    text-transform: uppercase;
    padding: 1.25rem 1.875rem;
    border: 0.313rem outset rgb(206, 28, 28);
}

.sobre-flex2 a:hover {
    transform: scale(1.1);
    transition: .5s;
}
}