.sobre {
    padding-bottom: 6.25rem;
    width: 100%;
}

.item {
    min-width: 500px;
    margin-bottom: 5rem;
}


.item img {
    border-radius: 0.313rem;
    height: 21.875rem;
    width: 28.125rem;
    object-fit: cover;
}

.item p {
    padding-left: 0px;
    padding-top: 1.875rem;
    font-size: var(--font-size-p);
    line-height: 2rem;
    max-width: 35ch;
    z-index: 1;
    text-align: start;
    color: var(--color-p);
}

.item p > span {
    text-transform: uppercase;
    font-weight: bolder;
    display: inline;
}

.flex-sobre {
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.sobre-flex2{
    gap: 1.25rem;
    display: flex;
    flex-direction: column;
}

.sobre-flex2 h2{
    padding-bottom: 5rem;
}

.sobre-flex2 a{
    color: var(--color-subtitle);
    background: rgb(29, 28, 28);
    text-transform: uppercase;
    padding: 1.25rem 1.875rem;
    border: 0.313rem outset rgb(206, 28, 28);
}

.sobre-flex2 a:hover {
    transform: scale(1.1);
    transition: .5s;
}

@media (max-width: 1500px) {
    .flex-sobre {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 1200px) {
    .flex-sobre {
        grid-template-columns:1fr;
    }
}
